.forgot-a{
    font-weight: bold;
}

.none{
    display: none;
}

.hide{
    display: none;
}

.show{
    display: flex;
}

.table-scroll{
    width: 220px;
    position: relative;
    overflow-x: scroll;
}

.assign-change{
    display: none;
}