.forgot-a{
    font-weight: bold;
}

.none{
    display: none;
}

.hide{
    display: none;
}

.show{
    display: flex;
}

.show1{
    display: block;
}

.table-scroll{
    width: 220px;
    position: relative;
    overflow-x: scroll;
}

#add-com-box{
    display:none;
}

#remark-opt{
    display: none;
    z-index: 1000;
}

#remark-list{
    cursor: pointer;
}

.cusor-pointer{
    cursor: pointer;
}

#add-subject-box{
    display: none;
}

#level-box{
    display: none;
}